<div id="sidebar">
	{% if site.data.main.github or site.data.main.piazza %}	
	<div id="quicklinks">
			<ul>
				{% if site.data.main.github %}
					<li><a href="{{site.data.main.github}}"><img src="{{site.url}}/style/github.png" /><br>Github</a></li>
				{% endif %}
				{% if site.data.main.jsfiddle %}
					<li><a href="{{site.data.main.jsfiddle}}"><img src="{{site.url}}/style/jsfiddle.png" /><br>React Fiddle</a></li>
				{% endif %}
			</ul>
			<div class="clear"></div>
	</div>
	{% endif %}
	<nav><ul>
		{% for p in site.data.pages %}
			{% if p[1].external %}
				<a href="{{p[1].link}}"><li>{{p[1].label}}</li></a>
			{% elsif p[1].link %}
				<a href="{{ site.url }}/{{p[1].link}}"
				{% if page.nav == p[0] %} class="active" {% endif %}>
					<li>{{p[1].label}}</li>
				</a>
			{% else %}
				<a href="{{ site.url }}/{{p[0]}}"
				{% if page.nav == p[0] %} class="active" {% endif %}>
					<li>{{p[1]}}</li>
				</a>
			{% endif %}
		{% endfor %}
	</ul></nav>
</div>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-5773957-4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-5773957-4');
</script>